# Arquivos temporários
*.log
*.tmp

# Diretório de dependências Python
/venv/
/.venv/

# Arquivos de vídeo gerados pelo Manim
/media/
/media/*
/media/**
/media/***


# Arquivos de configuração local
.env
